/* 全局样式 */
html,
body,
#app {
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 1366px;
}
.el-header {
    padding: 0px 0px !important;
    width: 100%;
}
.el-main {
    overflow: visible !important;
    min-height: 650px;
    height: auto;
}
